<div class="container">
    <h1>Task {{task?.pk}} Details</h1>
    <p>Title: {{task?.fields.title}}</p>
    <p>Description: {{task?.fields.description}}</p>
    <p>Assigned To:</p>
    <ul>
        <li *ngFor="let person of task?.fields.assigned">
            <a routerLink="/people/{{person.id}}">{{ person.first_name }} {{ person.last_name }}</a>
        </li>
    </ul>
    <div class="button-container">
        <a [routerLink]="['/tasks']" class="button">Return to Task List</a>
        <a [routerLink]="['/tasks', 'new']" class="button">Add a New Task</a>
        <button (click)="showAssignForm()">Assign Task</button>
        <button (click)="deleteTask(task?.pk)">Delete</button>
    </div>

    <div *ngIf="showForm">
        <form (submit)="addAssignee($event, assignForm)" #assignForm="ngForm">
            <label for="assigned">Assign To</label>
            <select name="assigned" [(ngModel)]="assigneeID">
                <option *ngFor="let person of people" value="{{person.pk}}">{{person.fields.first_name}}
                    {{person.fields.last_name}}
                </option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>